    <footer class="footer">
            <ul class="footer_nav_list">
                <li><a href="http://facebook.com" target="blank">Face Book</a></li>
                <li><a href="http://instagram.com" target="blank">Instagram</a></li>
                <li><a href="http://youtube.com" target="blank">You Tube</a></li>
                <li><a href="http://twitter.com" target="blank">Twitter</a></li>
                <li><a href="http://linkedin.com" target="blank">LinkIn</a></li>
                <li><a href="http://github.com/ethiotechguru" target="blank">Git hub</a></li>
            </ul>
            <div class="copy_right">
                <h2>©</h2>
                <p>JK Copy right</p>
                <h3>®</h3>
            </div>
            <script>
                (function(){
                    const mobileNav = document.querySelector(".crusal");
                    const drop = document.querySelector(".dropbox");
                    const m_nav = document.getElementById("mobile_nav");
                    mobileNav.addEventListener("click", (e) => {
                        e.preventDefault();
                        e.stopPropagation();
                        if (m_nav.className !== "mobile_nav") {
                            m_nav.className = "mobile_nav";
                            drop.className = "inner_mobil_nav";
                            document.body.style.overflow = 'hidden'
                        } else {
                            m_nav.className = "hide";
                            drop.className = "dropbox";
                            document.body.style.overflow = "scroll";
                        }
                    });
                    drop.addEventListener("click", () => {
                        m_nav.className = "hide";
                        drop.className = "dropbox";
                        document.body.style.overflow = "scroll";
                    });
                })();
            </script>
    </footer>
</body>
</html>