    <footer class="footer">
            <ul class="footer_nav_list">
                <li><a href="http://facebook.com" target="blank">Face Book</a></li>
                <li><a href="http://instagram.com" target="blank">Instagram</a></li>
                <li><a href="http://youtube.com" target="blank">You Tube</a></li>
                <li><a href="http://twitter.com" target="blank">Twitter</a></li>
                <li><a href="http://linkedin.com" target="blank">LinkIn</a></li>
                <li><a href="http://github.com/ethiotechguru" target="blank">Git hub</a></li>
            </ul>
            <h1></h1>
            <!-- <script src="/mobileNav.js" defer></script> -->
            
