extends layouts/mainLayOut.pug
block style 
    link(rel="stylesheet", href="/form.css")
block content 
    div
        form.form(action="/admin/add-product" method="POST")
            h1 Add Product 
            div.form_control
                label(for="name") Product
                input(type="text", name="title")
                label(for="price") Price
                input(type="text", name="price")
                label(for="desc") Description
                input(type="text" name="desc")
                button(type="submit") Add Product
