
    <link rel="stylesheet" href="/form.css">
    <%-include('./inc/head.ejs')%>  
</head>
<body>
    <%-include('./inc/navigation.ejs')%>
    </header>
    <div>
        <form action="/add-product" class="form" method="POST">
            <h1>Add Product</h1>
            <div class="form_control">
                <label for="title">Product</label>
                <input type="text" name="title">
                <label for="price">Price</label>
                <input type="text" name="price">
                <label for="desc">description</label>
                <input type="text" name="desc">
                <label for="imgUrl">Image Url</label>
                <input type="text" name="imgUrl">
                <button  type="submit">Add Product</button>
            </div>
        </form>
    </div>
    <%-include('./inc/footer.ejs') %> 
 