<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/nav.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-list">
                <a href="/"><li class="nav_item">Shop</li></a>
                <a href="/admin/add-product"><li class="nav_item">Add Product</li></a>
            </ul>
        </nav>
    </header>
    <div>
        <form action="/admin/add-product" method="POST" class="form">
            <h2>Add Product</h2>
            <div class="form_control">
                <label>Product</label>
                <input type="text" name ='title'/>
                <label>Price</label>
                <input type="text" name ='price'/>
                <label>description</label>
                <input type="text" name ='desc'/>
                <button type="submit">Add Product</button>
            </div>
        </form>
    </div>
</body>
</html>