 <%- include('./inc/head.ejs') %> 
</head>
<body>
    <%- include('./inc/navigation.ejs')%>
        <div>
            <h1>This is Cart Page</h1>
        </div>
    <%-include('./inc/footer.ejs') %> 
    </footer>
    <script src="./mobileNav.js"></script>
</body>
</html>