
    <%-include('./inc/head.ejs') %> 
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <%-include('./inc/navigation.ejs') %> 
    </header>
        <div class="container">
            <h1 class="page_not_found">Page Not Found</h1>
            <div class="image_container">
                <img src="https://c.tenor.com/5P99EGGWUJ4AAAAd/sopevault-dog.gif" alt="page not found" srcset="">
            </div>
        </div>
    <%-include('./inc/footer.ejs') %> 
    </footer>
    <script src="./script/mobileNav.js"></script>
</body>
</html>