extends layouts/mainLayOut.pug

block style 
    link(rel="stylesheet", href="/error.css")
block content
    .container
        h1.page_not_found Page Not Found
        .image_container 
            img(src="https://c.tenor.com/5P99EGGWUJ4AAAAd/sopevault-dog.gif", alt="page not found", srcset="")