extends layouts/mainLayOut.pug

block style 
    link(rel="stylesheet", href="/product.css")
block content 
    div.grid
        if prods.length > 0
            each product in prods
                article.card_header 
                    h1.product_title #{product.title}
                    .card_image
                        img(src="https://eadn-wc05-1926589.nxedge.io/cdn/pub/media/catalog/product/cache/2264c9e38777ed202d5c3170a063a3cf/c/a/canv1118_1.jpg", alt="Sony Pro")
                    .card_content 
                        h2.product_price #{product.price}
                        p.product_description #{product.desc}
                    .card_action 
                        button.btn Add To Cart
        else
            h1.no_product No Products


