.page_not_found{
    color: white;
    text-align: center;
}
.image_container{
    width: 500px;
    margin: 10px auto;
}
.image_container img{
    border-radius        : 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius   : 20px;
    -ms-border-radius    : 20px;
    -o-border-radius     : 20px;
}