.form {
    background-color: rgb(241, 157, 72);
    width           : 100%;
    max-width       : 700px;
    margin          : 20px auto;
    border-radius   : 20px;
    box-shadow      : 1px 2px 10px;
    padding: 20px 10px;
}

.form_control {
    padding           : 50px;
    display           : flex;
    /* justify-content: space-around; */
    flex-direction    : column;
}

.form_control label,
.form_control input {
    margin-bottom: 20px;
    font-size    : 1.5em;
}

.form_control input {
    padding      : 5px;
    border-radius: 10px;
    outline      : none;
    box-sizing   : border-box;
}

input:focus {
    border: 3px solid lightgreen;
}

.form_control button {
    width           : 140px;
    padding         : 5px 10px;
    background-color: lightskyblue;
    box-shadow      : 1px 2px 5px;
    border-radius   : 5px;
    font-size       : 1.2em;
    outline         : none;
}