html,body,ul{
    margin: 0;
    padding: 0;
}
.header {
    /* background-color: rgb(167, 122, 8); */
    background-color: #411e94;
    /* color           : rgb(150, 144, 144); */
    height: 12vh;
    margin: 0;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav-list {
    list-style     : none;
    display        : flex;
    justify-content: center;
    padding        : 10px;
    width          : 60%;
}
.nav-list a:visited:hover {
    color           : black;
    background-color: #A68DE2;
}
.nav-list a {
    background-color: #300f7e;
    margin          : 10px;
    padding         : 10px 7px;
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius   : 15px;
    color           : rgba(255, 255, 255, 0.568);
    width           : 140px;
    text-decoration : none;
}
body{
    background-color: rgb(255, 255, 255);
    /* background-color: black; */
}
a.active{
    background-color: #A68DE2;
    color: black;
}
.mode-gutter{
    background-color: white;
    width: 50px;
    height: 22px;
    position: absolute;
    top: 80px;
    right: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.mode_btn{
    width: 20px;
    height: 20px;
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #300f7e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 1px 2px;
}
.crusal{
    background-color: black;
    width: 30px;
    position: absolute;
    top:20px;
    right: 10px;
    display: none;
}
.dash{
    padding: 1px;
    width: 80%;
    background-color: white;
    margin:0 auto 3px auto;
    display: block;
    line-height: 0.2;
}
.inner_mobil_nav{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
    top:0;
    left: 0;
}
.hide{
    display: none;
}
.mobile_nav{
    position: absolute;
    top:45px;
    right: 10px;
    background-color: rgba(167, 122, 8, 0.87);
    width: 150px;
    z-index: 1;
}
.mobile_nav a{
    display: block;
    text-decoration: none;
    margin: 10px;
}
.mobile_nav li{
    list-style: none;
    padding: 10px;
    background-color: white;
}
.search_box{
    width: 30%;
    position: absolute;
    top: 30px;
    right: 30px;
}
.search_box input{
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 1.1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media screen and (max-width:900px) {
    .nav-list{
        display: none;
    }
    .crusal{
        display: block;
    }
    .dropbox{
        display: block;
    }
    .header{
        height: 10vh;
    }
    .search_box{
        position: relative;
        top:20px;
        margin: 0 auto;
        width: 80%;
    }
    .search_box input{
        width: 100%;
        padding: 5px;
        outline: none;
        font-size: 1.1em;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}
@media screen and (max-width:600px) {
    .mode-gutter {
        top                  : 45px;
        right                :6px;
    }
}
@media screen and (max-width:500px) {
    .nav {
        display        : block;
        justify-content: center;
        align-items    : center;
        height         : 100%;
    }
}

@media screen and (max-width:400px) {
    .mode-gutter {
        top  : 35px;
    }
    .crusal {
        top             : 10px;
    }
}