.grid {
    display        : flex;
    justify-content: center;
    align-items    :stretch;
    flex-wrap      : wrap;
    width          : 100%;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
}

.card_header {
    display              : flex;
    justify-content      : space-around;
    flex-direction       : column;
    width                : 300px;
    margin               : 20px;
    background-color: rgb(250, 250, 250);
    padding              : 0 20px;
    text-align           : center;
    color: #37206d;
    border-radius        : 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius   : 12px;
    -ms-border-radius    : 12px;
    -o-border-radius     : 12px;
}

.card_image img {
    width: 300px;
}

.btn,
.btn_detail {
    margin-bottom        : 7px;
    /*background-color   : rgb(77, 15, 77);
    */
    background-color     : #411e94;
    color                : white;
    font-size            : 1.1em;
    margin-bottom        : 10px;
    padding              : 7px 20px;
    border-radius        : 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius   : 7px;
    -ms-border-radius    : 7px;
    -o-border-radius     : 7px;
}

.btn_detail {
    text-decoration: none;
    display        : inline-block;
    width          : 100px;
    padding        : 8px 20px;
}
.card_action {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}
.see_detail{
    text-decoration: none;
}
.see_detail:hover{
    color: #8a61e9;
}
.no_product {
    color: white;
}

@media screen and (max-width:350px) {
    .card_header {
        width : 90%;
        margin: 10px auto;
    }

    .card_image img {
        width: 90%;
    }
}
@media screen and (max-width:760px) {
    .card_header {
        width : 45%;
        margin: 5px;
        padding: 0;
    }
    .product_title,.product_price,.product_description{
        margin: 5px;
    }
    .card_image img {
        width: 90%;
    }
    .card_action {
        flex-wrap: wrap;
    }
}